# stellar-rpc captive-core config for Pi Testnet
NETWORK_PASSPHRASE="__NETWORK__"
HTTP_PORT=11826
PUBLIC_HTTP_PORT=false
PEER_PORT=11825
DATABASE="__DATABASE__"

FAILURE_SAFETY=0
UNSAFE_QUORUM=true

[[HOME_DOMAINS]]
HOME_DOMAIN="pi-core-team"
QUALITY="HIGH"

[[VALIDATORS]]
NAME="testnet1"
HOME_DOMAIN="pi-core-team"
PUBLIC_KEY="GC6R2IQ7LAEWFFNV2ZMXPMOLGGCFRFX6NQFCNT2PLB3KVJPHTIYV4ZPR"
ADDRESS="161.35.227.222:31402"
HISTORY="curl -sf https://history.testnet.minepi.com/{0} -o {1}"

[[VALIDATORS]]
NAME="testnet2"
HOME_DOMAIN="pi-core-team"
PUBLIC_KEY="GDRIZZC5PNZ6XBJTBZX52WX4NQ2K4Y5XBKVBRYNFDDS4VO6POQ3IGZCL"
ADDRESS="161.35.227.224:31402"
HISTORY="curl -sf https://history.testnet.minepi.com/{0} -o {1}"

[[VALIDATORS]]
NAME="testnet3"
HOME_DOMAIN="pi-core-team"
PUBLIC_KEY="GAKI7FNXWIJHKV4CKFSU6KDNFTPYAUOP2WIKL5IFSOPEUSYK4Y3LWMXX"
ADDRESS="161.35.238.87:31402"
HISTORY="curl -sf https://history.testnet.minepi.com/{0} -o {1}"
