# Pi Testnet - Watcher node (default configuration)
# 0.0.10

PUBLIC_HTTP_PORT=false
PEER_PORT=31402

COMMANDS=["ll?level=info"]
LOG_FILE_PATH=""

NETWORK_PASSPHRASE="Pi Testnet"

DATABASE="postgresql://dbname=core host=localhost user=stellar password=__PGPASS__"
CATCHUP_COMPLETE=false
CATCHUP_RECENT=256

NODE_NAMES=[
  "GC6R2IQ7LAEWFFNV2ZMXPMOLGGCFRFX6NQFCNT2PLB3KVJPHTIYV4ZPR testnet1",
  "GDRIZZC5PNZ6XBJTBZX52WX4NQ2K4Y5XBKVBRYNFDDS4VO6POQ3IGZCL testnet2",
  "GAKI7FNXWIJHKV4CKFSU6KDNFTPYAUOP2WIKL5IFSOPEUSYK4Y3LWMXX testnet3"
]

KNOWN_PEERS=["161.35.227.222:31402", "161.35.227.224:31402", "161.35.238.87:31402"]
PREFERRED_PEERS=["161.35.227.222:31402", "161.35.227.224:31402", "161.35.238.87:31402"]
PREFERRED_PEER_KEYS=["$testnet1", "$testnet2", "$testnet3"]
PREFERRED_PEERS_ONLY=false

NODE_SEED="__NODE_PRIVATE_KEY__"
NODE_IS_VALIDATOR=false

FAILURE_SAFETY=0
UNSAFE_QUORUM=true

[QUORUM_SET]
THRESHOLD_PERCENT=51
VALIDATORS=["$testnet1", "$testnet2", "$testnet3"]

[HISTORY.cache]
get="curl -sf https://history.testnet.minepi.com/{0} -o {1}"
