# Mainnet - Watcher node (default configuration)
# 0.0.1

PUBLIC_HTTP_PORT = false
PEER_PORT = 31402

COMMANDS = ["ll?level=info"]
LOG_FILE_PATH = "/tmp/stellar-core.log"
BUCKET_DIR_PATH = "/opt/stellar/core/buckets"

NETWORK_PASSPHRASE = "Pi Network"
KNOWN_CURSORS = ["HORIZON"]

DATABASE = "postgresql://dbname=core host=localhost user=stellar password=__PGPASS__"
CATCHUP_COMPLETE=false
CATCHUP_RECENT=256

PREFERRED_PEER_KEYS = [
    "$validator1",
    "$validator2",
]

PREFERRED_PEERS_ONLY = false

NODE_SEED = "__NODE_PRIVATE_KEY__"
NODE_IS_VALIDATOR = false

UNSAFE_QUORUM = false
FAILURE_SAFETY = -1
QUORUM_INTERSECTION_CHECKER = true

NODE_HOME_DOMAIN = "pi-core-team"

[[HOME_DOMAINS]]
HOME_DOMAIN = "pi-core-team"
QUALITY="HIGH"
